{% extends 'base.j2' %}
{% block content %}
<form action="/filter_collection" method="post">
  <div class="row pb-3">
    <p class="col-4">Collection: </p>
    <select class="col-8" name="collection" required>
      {% for item in collection %}
      <option value="{{ item }}">
        {{ item }}
      </option>
      {% endfor %}
    </select>
  </div>
  <input class="btn btn-dark" value="このCollectionでフィルタ" type="submit" />
</form>
<div class="row pt-5">
  <div class="mb-3">
    <a href="/likes" class="link">フォロー確認</a>
  </div>
  <div>
    <a href="/update_user" class="link">user の email 更新</a>
  </div>
</div>
{% endblock %}